.result-container {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.answer button:hover {
  background: none;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: orangered;
}

.main-heading {
  font-size: 2rem;
  width: 100vw;
  text-align: center;
}
